In [5]:
!wget https://sds-platform-private.s3-us-east-2.amazonaws.com/uploads/P87-Section-5-Grouping-Resources.zip

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import zipfile

# Unzip the file to a folder above the current directory and delete the zip file
with zipfile.ZipFile('P87-Section-5-Grouping-Resources.zip', 'r') as zip_ref:
    zip_ref.extractall('../Data Manipulation in Python Crash Course/')

# Delete the zip file
os.remove('P87-Section-5-Grouping-Resources.zip')

# Specify file path
file_path = '../Data Manipulation in Python Crash Course/'
# Section folder
section_folder = 'P87-S5-Grouping-Resources/'
# File name
file_name = 'train.csv'

# read csv file
df = pd.read_csv(file_path + section_folder + file_name, low_memory=False, parse_dates=['Date'])
df.head()

--2022-04-11 23:15:34--  https://sds-platform-private.s3-us-east-2.amazonaws.com/uploads/P87-Section-5-Grouping-Resources.zip
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving sds-platform-private.s3-us-east-2.amazonaws.com (sds-platform-private.s3-us-east-2.amazonaws.com)... 52.219.108.106
Connecting to sds-platform-private.s3-us-east-2.amazonaws.com (sds-platform-private.s3-us-east-2.amazonaws.com)|52.219.108.106|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7803615 (7.4M) [application/x-zip-compressed]
Saving to: ‘P87-Section-5-Grouping-Resources.zip’

P87-Section-5-Group 100%[===================>]   7.44M  6.21MB/s    in 1.2s

2022-04-11 23:15:36 (6.21 MB/s) - ‘P87-Section-5-Grouping-Resources.zip’ saved [7803615/7803615]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [7]:
dfg = df.groupby('Store')
dfg